p{
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    p{
        background-color: black;
         color:green;
     }
 }
 
 @media screen and (max-width: 480px) {
    p{
        background-color: black;
         color:red;
     }
 }

 .pc {
    display: block;
  }
  .sp {
    display: none;
  }
  
  @media only screen and (max-width: 480px) {
    .pc {
      display: none;
    }
    .sp {
      display: block;
    }
  }
